#winnerText {
    display: none;
    text-align: center;
}


#strikes{
    display: block;
}

#userWord{
    display: block;
}

#nextWordBtn{
    opacity: 0.3;
}

.hidden {
    display: none;
    display: block;
}

@media screen and (max-width: 400px) {
    .btn-lg {
        padding: 10px !important;
    }
}